target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

#build
build/
temp/

#java
.mvn/
bin/
target/
*.class
*.jar
*.war
*.ear

#python
venv/

#nodejs
node_modules/
package-lock.json
*.lock

#idea
.idea/
*.iws
*.iml
*.ipr

#vscode
.vscode/

#eclipse
.settings/
**/.classpath
**/.project
.flattened-pom.xml
**/.settings/
**/.flattened-pom.xml
.apt_generated/

#logs & reports
logs/
target/**/reports/
screenshots/
test-output/
.allure
allure-results/
output.xml
*.db
*.log
*.log.gz
*.html
*-audit.json

#macos
.DS_Store/

#docker
.docker/
