<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="regression">
    <test name="testsByGroup">
        <classes>
            <class name="com.solera.global.qa.autoonline.web.test.cases.login.TestLogInBasic"/>
        </classes>
    </test>
</suite>